<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control</title>
		<style>
			body {
				font-size: 64px;
			}

			.controlButton {
				border: none;
				background-color: rgb(119, 80, 114);
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 64px;
			}
		</style>
</head>
<body>
    <h1>Roma-matic</h1>
		<p id="message"></p>
    <button class="controlButton" onclick="startServo()">Start</button>
    <button class="controlButton" onclick="stopServo()">Stop</button>
		<button class="controlButton" onclick="speedUp()">Increase speed</button>
		<button class="controlButton" onclick="speedDown()">Decrease speed</button>

    <script>
        function startServo() {
            fetch('/start', { method: 'POST' })
            .then(response => response.text())
            .then(data => {
							document.getElementById("message").innerHTML = data;
						});
        }

        function stopServo() {
            fetch('/stop', { method: 'POST' })
            .then(response => response.text())
            .then(data => {
							document.getElementById("message").innerHTML = data;
						});
        }

				function speedUp() {
						fetch('/speed_up', { method: 'POST' })
						.then(response => response.text())
						.then(data => {
							document.getElementById("message").innerHTML = data;
						});
				}

				function speedDown() {
						fetch('/speed_down', { method: 'POST' })
						.then(response => response.text())
						.then(data => {
							document.getElementById("message").innerHTML = data;
						});
				}
    </script>
</body>
</html>